#!/usr/bin/env nextflow

// Define the workflow parameters
params {
    sampleID = '/home/jovyan/Workflow-Mg-t-Nextflow-Tutorial-for-Bioinformatics/yam/sample.txt'
    reads_miseq = '/home/jovyan/Workflow-Mg-t-Nextflow-Tutorial-for-Bioinformatics/data/'
    skip_fastqc01 = false
    skip_multiqc01 = false
    skip_fastp = false
    skip_fastqc02 = false
    skip_multiqc02 = false
}


// Executor settings
executor {
    queueSize = 100
    cpus = 4
    memory = '24 GB'
}

// Define other configurations if needed

